<ion-view title="{{item.name}}">
  <ion-content has-header="true" padding="false">
    <div class="detail-image">
      <img src="../img/{{item.name + '.png'}}" class="detail-image"/>
    <div class="item-options">
      <div class="item-title">
        <span class="uline">
          <span class="bold">
            {{item.name}}
          </span>
        </span>
      </div>
      <div class="price">
        apprx price<br/> 
        <span class="price">${{item.price}}</span>
      </div>
      <div class="add">
      Add to list<br/>
        <button class="add">
          <span class="button-text">+</span>
        </button>
      </div>
    </div>
    <div class="nutrition-info">
      <img src="../img/nutrition_info.gif">
    </div>
  </ion-content>
</ion-view>
