<ion-view title="Nutritional Breakdown">
  <ion-content has-header="true" padding="false">
  <br/>
  <div class="">
  <table>
    <tr>
      <td>
        People
      </td>
      <td>
        Days
      </td>
    </tr>
    <tr>
      <td>
        <select name="num_people" ng-model="num.people" ng-selected="calculate_pie_values()">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        </select>
      </td>
      <td>  
        <select name="num_days" ng-model="num.days" ng-selected="calculate_pie_values()">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        </select>
      </td>
  </table>
  </div>
  <div class="pie-couple">
  <div id="piechart0" style="width: 150px; height: 150px;" pie-chart></div>
  <div id="piechart1" style="width: 150px; height: 150px;" pie-chart></div>
  </div>
  <div class="pie-couple">
  <div id="piechart2" style="width: 150px; height: 150px;" pie-chart></div>
  <div id="piechart3" style="width: 150px; height: 150px;" pie-chart></div>
  </div>
  </ion-content>
</ion-view>
