<ion-popover-view class="popover">
    <ion-header-bar>
      <h1 class="title">Dietary Preferences</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      <ion-item ng-repeat="con in constraintsList" class="item item-toggle" type="item-text-wrap">
      	{{con.name}}        
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-checked="{{con.selected}}" ng-click="updateConstraint(con.id)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        {{con.selected}}
      </ion-item>
      </ion-list>
    </ion-content>
</ion-popover-view>