<ion-view title="Search">
  <ion-content class="padding">
    <h1> {{name}} </h1>

    <div class="search-bar">

      <input class="searchbox" type="text" ng-model="searchText" name="search" placeholder="search" style="border: 1px solid black">
        <label>
          <button class="pref-button" ng-click="openPopover($event)">
            <img src="{{button}}"/>
          </button>
        </label>
      </input>
    </div>

    <div class="breadcrumbs">
    <a href="../#/tab/groceryList">Home</a> <b>></b><a href="../#/tab/search">Search</a>><a href="../#/tab/search/{{groupId}}">{{groupId}}</a>
    <div>

    <ion-list>
      <ion-item class="searchitem" ng-if="searchText" ng-repeat="item in selectItems | filter:searchText" href="#/tab/search/item/{{item.id}}">
       {{item.name}}
      </ion-item>
      <ion-item ng-if="!searchText" ng-repeat="subGroup in subFoodGroupTree" type="item-text-wrap" href="#/tab/search/{{groupId}}/{{subGroup.id}}">
        {{subGroup.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
