<ion-view title="Search-Mid">
  <ion-content class="padding">
    <h1>Search-Mid</h1>
    <h1> {{groupId}} </h1>
	<button ng-click="openPopover($event)">
  		<img src="{{button}}"/>
  	</button>
    <a href="../#/tab/groceryList">Home</a> <b>></b><a href="../#/tab/search">Search</a>><a href="../#/tab/search/{{groupId}}">{{groupId}}</a>
    <input type="text" ng-model="searchText" name="search" placeholder="search" style="border: 1px solid black">
    <ion-list>
      <ion-item ng-if="searchText" ng-repeat="item in selectItems | filter:searchText" href="#/tab/search/item/{{item.id}}">
       {{item.name}}
      </ion-item>
      <ion-item ng-if="!searchText" ng-repeat="subGroup in subFoodGroupTree" type="item-text-wrap" href="#/tab/search/{{groupId}}/{{subGroup.id}}">
        {{subGroup.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
