<ion-view title="Search">
  <ion-content class="padding">
    <h1>Search</h1>
    <a href="../#/tab/groceryList">Home</a> <b>></b><a href="../#/tab/search">Search</a>
    <input type="text" ng-model="searchText" name="search" placeholder="search" style="border: 1px solid black">
    <ion-list>
      <ion-item ng-if="searchText" ng-repeat="item in groceryItems | filter:searchText" href="#/tab/search/item/{{item.id}}">
      	{{item.name}}
      </ion-item>
      <ion-item ng-if="!searchText" ng-repeat="group in foodGroupTree" type="item-text-wrap" href="#/tab/search/{{group.id}}">
      	<img src="../img/{{group.name}}.jpg"><br>
        {{group.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
