<ion-view title="Grocery List">
  <ion-content>
  <div class="list-options">
    <div class="price">
      <br>apprx price</br> 
        <span class="price">${{totalPrice}}</span>
    </div>
    <div class="breakdown">
      <a href="#/tab/listBalance">
        <img src="../img/bar-chart.jpg" width="60px">
      </a>
    </div>
  </div>
    <ion-list>
      <ion-item ng-repeat="item in groceryList" type="item-text-wrap" href="#/tab/item/{{item.id}}">
        {{item.name}}
        <button class="button button-small" style="float:right">+</button>
        <!--Add the text field with # in here-->
        <button class="button button-small" style="float:right">-</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
