/* Empty. Add your own CSS if you like */

/* css for detail view */
span.uline{
  text-decoration: underline;
}

span.bold{
  font-weight: bold;
}

span.price{
  font-weight: bold;
  font-size:18px;
  position:relative;
  top: 3px;
}

div.detail-image {
  width:40%;
  float: left;
}
div.item-operations {
  width: 60%;
  text-align: center;
  padding-top: 5px;
  padding:5px;
  float:right;
}

div.item-title{
  font-size: 24px;
  width: 100%;  
}

div.price{
  padding-top: 5px;
  float:left;
  width: 50%;
}

div.list-options{
  height: 80px;
  width: 100%;
  text-align: center;
}

div.balance{
  width:50%;
  padding-top: 5px;
  float:right;
}

div.list-ops-item{
  width:33%;
  height: 80px;
  padding-top: 5px;
  float:left;
}

div.add{
  padding-top: 5px;
  float:left;
  width: 50%
}

img.detail-image {
  width:100%;
}
div.ingerdients{
  float:left;
}

div.pie-couple{
	display: inline-block
  width: 199%;
}

.piechart_left {
  float: left;
  width: 50%;
  
}

.piechart_right {
  float: right;
  width: 50%;  
}

.list-balance-text {
  font-size: 24;
}

button.add {
    /*display:block;*/
    width:50px;
    height:50px;
    line-height:25px;
    border-radius: 25px;
    border: 2px solid #888888;
    color:#888888;
    text-align:center;
    text-decoration:none;
    background: #ffffff;
    box-shadow: 0 0 3px gray;
    font-size:24px;
    font-weight:bold;
}
button.add:active {
    /*display:block;*/
    border: 2px solid #ffffff;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background: #888888;
    box-shadow: 0 0 3px gray;
    font-weight:bold;
}

span.button-text{
  position:relative;
  top: -3px;
  left: -7px;
}

.search-bar {
  line-height: 50px;
}

.pref-button {
  display: block;
  float: left;
  height: 45px;
  margin-top: 10px;

}

input.searchbox {
  display: block;
  float: right;
  width: 80%; 
  height: 45px;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 14pt;
  padding-left: 10px;
  margin-left:  5px;
}


.breadcrumbs {
  padding-top: 10px;
  display: inline-block;
  padding-bottom: 10px;
}

.searchlist {
  width: 80px;
}

.popover {

  height: 380px;
}


